.yosoy-logo {
	position: relative;
	top: -15px;
    width: 5rem;
    height: 5rem;
}

@font-face {
	font-family: 'KingthingsXander';
	src: url('fonts/KingthingsXander.eot');
	src: local('☺'), 
		url('fonts/KingthingsXander.woff') format('woff'), 
		url('fonts/KingthingsXander.ttf') format('truetype'), 
		url('fonts/KingthingsXander.svg') format('svg');
	font-weight: normal;
	font-style: normal;

}
.kingsFont {
	font-family: 'KingthingsXander';
	color: white;
	font-weight: normal;
	-moz-text-fill-color: white;
    -webkit-text-fill-color: white;
       -moz-text-stroke-color: white;
    -webkit-text-stroke-color: white;
    text-transform: none;
}

.kingsFont.black {
	color: black;
	font-weight: normal;
	-moz-text-fill-color: black;
    -webkit-text-fill-color: black;
       -moz-text-stroke-color: black;
    -webkit-text-stroke-color: black;
    text-transform: none;
}

@media all and (max-width: 500px) and (min-width: 200px) {
	.landingPageTitle {
		font-size: 11vw;
	}
}

.kingsTitle {
	font-size: 14vh;
	top: -9vh;
}

.kingsTitle span { 
	display: inline-block;
  transform: scaleX(-1); 
  filter: FlipH; /* IE 6-7-8 */
}

.kingsSubTitle {
	position: relative;
	font-size: 7vh;
	top: -10vh;
}

.home-message {
	padding-top: 28vh;
}

.shopTitle {
	font-size: 15vh;
}